<div class="menu">
	<ul>
		<li id="high1" data_menu_slide="1">ABOUT</li>
		<li id="high2" data_menu_slide="2">PROFILE</li>
		<li id="high3" data_menu_slide="3">WORKS</li>
		<li id="high4" data_menu_slide="4">CONTACT</li>				
	</ul>	
</div>
<section class="title_section section_0">
	<div class="title_section_container">
		<div class="title_section_NCTU">
				<div class="title_section_NCTU_en">
				Professor of National Chiao Tung University	
				</div>	
				<div class="title_section_NCTU_ch">
				國立交通大學
				</div>			
		</div>	
		<div class="title_section_NCTU_outter_first"></div>
		<div class="title_section_NCTU_outter_second"></div>	
		<div class="title_section_YLH_ch">
			黃 —— 育　綸　&#9642; &#9642; &#9642; &#9642;　教　授
		</div>
		<div class="title_section_YLH_ch_outter"></div>
		<div class="title_section_YLH_en">
			YU LUN HUANG
		</div>
		<div class="title_section_RTES_outter">
		<div class="title_section_ECE_top">ECE</div>		
		<div class="title_section_RTES">RTES</div>	
		<div class="title_section_ECE_bottom">ECE</div>			
		</div>
		<div class="title_section_RTES_complete_outter">
			<div class="title_section_RTES_complete">
			Real-Time Embedded System Laboratory
			</div>
		</div>	
	</div>		
	<%=image_tag 'arrow_down.svg', class: 'arrow-down'%>
</section>	
<section class="me_section">
	<div style="background: #ffffff url('<%=asset_url 'me.jpg'%>') no-repeat center center; background-size: cover;">
	</div>
</section>
<section class="about_section section_1">
	<div class="about_section_container">
		<div class="about_title">ABOUT</div>	
		<div class="about_title_under_line"></div>
		<div class="about_icon">
		<%=image_tag 'about_1.svg', class: 'about_1'%>
		<%=image_tag 'about_2.svg', class: 'about_2'%>
		<%=image_tag 'about_3.svg', class: 'about_3'%>
		</div>
		<div class="about_description"><span style="font-size: 45px;">R</span>TES Lab is a laboratory established on July 4th, 2004. The lab primarily focuses on the researches of embedded and real-time operating systems, network security, software obfuscation, voice-over-IP, network quality, Human-computer interaction, etc. Headed by Professor Yu-Lun Huang, who expertizes in embedded software design and has years of practical experiences in the embedded industry, RTES lab members have been growing to more than fifty members in the past ten years. The lab equips with several desktop and laptop computers, evaluation boards with various embedded processors, Bluetooth development SDK, FPGAs, ZigBee, RFID EV boards, logical analyzers and oscillators. You are welcome to visit our laboratory and enjoy a trip to the world of embedded systems.
		</div>	
		<div class="about_description_outter"></div>
	</div>	
</section>	
<section class="profile_section section_2">
	<!--<div class="profile_section_parallax" style="background: #F0F0F0 url('<%=asset_url 'diagonal_p.png'%>') no-repeat center center; background-size: cover;"></div>-->	
	<div class="profile_section_container">	
		<div class="profile_title">PROFILE</div>	
		<div class="profile_title_under_line"></div>	
		<div class="profile_description">
		<div class="profile_sub_left_title">PRESENT</div>
		<div class="profile_sub_left_content">Professor of National Chiao Tung University</div>
		<br><div class="profile_sub_left_title">EXPERIENCES</div>
		<div class="profile_sub_left_content">Consultant of Mozilla Taiwan</div>
		<div class="profile_sub_left_content">Chief of Center for Digital Content Production (NCTU)</div>
		<div class="profile_sub_left_content">Chief of Center for Continuing Education (NCTU)</div>
		<br><div class="profile_sub_left_title">EDUCATION</div>
		<div class="profile_sub_left_content">Ph.D., National Chiao Tung University</div>
		<div class="profile_sub_left_content">M.S., National Chiao Tung University</div>
		<div class="profile_sub_left_content">B.S., National Chiao Tung University</div>
		</div>	
		<div class="profile_description_outter"></div>	
		<div class="profile_right_1">
		<a id="openHonorsAwardsBox" href="#honors_awards_fancybox" class="profile_right_title">Honors</a>
		</div>	
		<div class="profile_right_2">
		<a id="openPublicationsBox" href="#publications_fancybox"  class="profile_right_title">Publications</a>
		</div>	
		<div class="profile_right_3">
		<a id="openPatentsBox" href="#patents_fancybox"  class="profile_right_title">Patents</a>
		</div>	
		<%=render "honors_awards" %>
		<%=render "publications" %>
		<%=render "patents" %>	
	</div>		
</section>
<section class="works_section section_3">
	<div class="works_section_container">
		<div class="works_title">WORKS</div>	
		<div class="works_title_under_line"></div>	
		<div class="works_description">
		<div class="works_left_title">PROJECTS</div>
		<div class="works_left_sub">
		<a href="#" class="works_left_sub_title">GVM5</a>	
		<a href="#" class="works_left_sub_title"></a>		
		</div>
		</div>	
		<div class="works_description_outter"></div>
		<div class="works_right_1">
		
		</div>	
		<div class="works_right_1_outter_first"></div>	
		<div class="works_right_1_outter_second"></div>		
		<div class="works_right_2">
		<%=image_tag 'works_2.svg', class: 'works_2'%>		
		</div>			
		<div class="works_right_2_outter_first"></div>	
		<div class="works_right_2_outter_second"></div>
	</div>				
</section>
<section class="rtes_section">
	<div style="background: #ffffff url('<%=asset_url 'rtes.jpg'%>') no-repeat center center; background-size: cover;">
	</div>
</section>
<section class="contact_section section_4">
	<div class="contact_section_container">
		<div class="contact_title">CONTACT</div>	
		<div class="contact_title_under_line"></div>	
		<div class="contact_description">
		<div>ylhuang@cn.nctu.edu.tw</div>
		<br><br>
		<div>Office</div>
		<div>EE719, +886 03-5712121 ext 31476</div>
		<br>
		<div>RTES Lab</div>
		<div>EE913, +886 03-5712121 ext 54398</div> 
		</div>	
		<div class="contact_description_outter"></div>
		<div class="contact_right_1">
			<div class="contact_right_1_container">
				<div class="contact_right_1_upper_ece">ECE</div>
				<div class="contact_right_1_nctu">nctu</div>	
				<div class="contact_right_1_bottom_ece">ECE</div>				
			</div>		
		</div>	
		<div class="contact_right_1_outter"></div>			
	</div>	
</section>
<script>
var controller;
$(document).ready(function($) {
	// make a variable to store the window height.
	var windowHeight = $(window).innerHeight();
	//for mouse
	$('.arrow-down').click(function (e) {
	    e.preventDefault();
        goToByScroll(1, 0);
	});		
	//for scrolling
	var links = $('.menu').find('li');
	links.click(function (e) {
	    e.preventDefault();
	    data_menu_slide = $(this).attr('data_menu_slide');
        goToByScroll(data_menu_slide, 0);
	});	
	function goToByScroll(data_menu_slide, menuHeight) {
		htmlbody = $('html,body');	
	    htmlbody.animate({
	        scrollTop: $('.section_'+data_menu_slide).offset().top - menuHeight
	    }, 1000);
	}	
	// function to be used to retrieve variable
	function getWindowHeight() {
		return windowHeight;
	}
	
	// update window height on resize
	$(window).on("resize", function () {
			windowHeight = $(window).innerHeight();
	});		
	// init controller
	controller = new ScrollMagic();
	// build scenes
	new ScrollScene({triggerElement: ".title_section"})
								.setTween(TweenMax.from(".title_section_YLH_ch", 1, {left: "0", ease: Linear.easeNone}))
								.addTo(controller);
	new ScrollScene({triggerElement: ".title_section"})
								.setTween(TweenMax.from(".title_section_NCTU", 1, {top: "-100px", ease: Linear.easeNone}))
								.addTo(controller);
	new ScrollScene({triggerElement: ".title_section"})
								.setTween(TweenMax.from(".title_section_NCTU_outter_first", 1, {left: "-100px", ease: Linear.easeNone}))
								.addTo(controller);								
	new ScrollScene({triggerElement: ".title_section"})
								.setTween(TweenMax.to(".title_section_YLH_en", 1.5, {autoAlpha: 1, ease: Linear.easeNone}))
								.addTo(controller);						
	new ScrollScene({triggerElement: ".title_section"})
								.setTween(TweenMax.fromTo(".arrow-down", 0.6,
									{bottom: '3%'},
									{bottom: '6%', repeat: -1, yoyo: true, ease: Circ.easeInOut}
								))
								.addTo(controller);						
																															
	new ScrollScene({triggerElement: ".about_section"})
								.setTween(TweenMax.from(".about_description", 1, {scale: 0.5, ease: Linear.easeNone}))
								.addTo(controller);							
	new ScrollScene({triggerElement: ".profile_section"})
								.setTween(TweenMax.from(".profile_description", 1, {scale: 0.5, ease: Linear.easeNone}))
								.addTo(controller);									
	new ScrollScene({triggerElement: ".profile_section"})
								.setTween(TweenMax.from(".profile_right_1", 1, {top: "0px", ease: Linear.easeNone}))
								.addTo(controller);	
	new ScrollScene({triggerElement: ".profile_section"})
								.setTween(TweenMax.from(".profile_right_2", 1, {top: "0px", ease: Linear.easeNone}))
								.addTo(controller);								
	new ScrollScene({triggerElement: ".profile_section"})
								.setTween(TweenMax.from(".profile_right_3", 1, {top: "0px", ease: Linear.easeNone}))
								.addTo(controller);								
	new ScrollScene({triggerElement: ".works_section"})
								.setTween(TweenMax.from(".works_description", 1, {scale: 0.5, ease: Linear.easeNone}))
								.addTo(controller);			
	new ScrollScene({triggerElement: ".works_section"})
								.setTween(TweenMax.from(".works_right_1", 0.8, {top: "0px", ease: Linear.easeNone}))
								.addTo(controller);									
	new ScrollScene({triggerElement: ".works_section"})
								.setTween(TweenMax.from(".works_right_1_outter_first", 0.8, {top: "0px", ease: Linear.easeNone}))
								.addTo(controller);									
	new ScrollScene({triggerElement: ".works_section"})
								.setTween(TweenMax.from(".works_right_1_outter_second", 0.8, {top: "0px", ease: Linear.easeNone}))
								.addTo(controller);	
	new ScrollScene({triggerElement: ".works_section"})
								.setTween(TweenMax.from(".works_right_2", 0.8, {top: "0px", ease: Linear.easeNone}))
								.addTo(controller);									
	new ScrollScene({triggerElement: ".works_section"})
								.setTween(TweenMax.from(".works_right_2_outter_first", 1, {top: "0px", ease: Linear.easeNone}))
								.addTo(controller);									
	new ScrollScene({triggerElement: ".works_section"})
								.setTween(TweenMax.from(".works_right_2_outter_second", 1.2, {top: "0px", ease: Linear.easeNone}))
								.addTo(controller);																																
	new ScrollScene({triggerElement: ".contact_section"})
								.setTween(TweenMax.from(".contact_description", 1, {scale: 0.5, ease: Linear.easeNone}))
								.addTo(controller);		
	new ScrollScene({triggerElement: ".contact_section"})
								.setTween(TweenMax.from(".contact_right_1", 1, {scale: 0.5, ease: Linear.easeNone}))
								.addTo(controller);										
																				
	var tween_menu = TweenMax.to(".menu", 1, {autoAlpha: 1});								
	new ScrollScene({triggerElement: ".about_section", triggerHook: 0.2, duration: 180})
								.setTween(tween_menu)
								.addTo(controller);									
	new ScrollScene({triggerElement: ".about_section", triggerHook: 0.2, duration: getWindowHeight})
								.setClassToggle("#high1", "height_active") // add class toggle
								.addTo(controller);
	new ScrollScene({triggerElement: ".profile_section", triggerHook: 0.2, duration: getWindowHeight})
								.setClassToggle("#high2", "height_active") // add class toggle
								.addTo(controller);
	new ScrollScene({triggerElement: ".works_section", triggerHook: 0.2, duration: getWindowHeight})
								.setClassToggle("#high3", "height_active") // add class toggle
								.addTo(controller);
	new ScrollScene({triggerElement: ".contact_section", triggerHook: 0.2, duration: getWindowHeight})
								.setClassToggle("#high4", "height_active") // add class toggle
								.addTo(controller);	
	new ScrollScene({triggerElement: ".me_section", triggerHook: 1, duration: getWindowHeight})
								.setTween(TweenMax.from(".me_section > div", 1.5, {top: "-200%", ease: Linear.easeNone}))
								.addTo(controller)							
	new ScrollScene({triggerElement: ".rtes_section", triggerHook: 1, duration: getWindowHeight})
								.setTween(TweenMax.from(".rtes_section > div", 1.5, {top: "-100%", ease: Linear.easeNone}))
								.addTo(controller)
	new ScrollScene({triggerElement: ".profile_section", triggerHook: 1, duration: 1500})
								.setTween(TweenMax.from(".profile_section_parallax", 1, {top: "-1000", ease: Linear.easeNone}))
								.addTo(controller)																		

	$("#openHonorsAwardsBox").fancybox({
		tpl: {
			  closeBtn: "<div title='Close' class='fancybox_close'>x</div>"
		},
		nextClick: true, 		
	    openEffect	: 'elastic',
	    closeEffect	: 'elastic', 
	    padding: 35,  
	    helpers: {
		      overlay: {
		      locked: false
		    }
		  }
	    });	
	$("#openPublicationsBox").fancybox({
		tpl: {
			  closeBtn: "<div title='Close' class='fancybox_close'>x</div>"
		},	
		nextClick: true,	
	    openEffect	: 'elastic',
	    closeEffect	: 'elastic', 
	    padding: 35,  
	    helpers: {
		      overlay: {
		      locked: false
		    }
		  }
	    });	
	$("#openPatentsBox").fancybox({
		tpl: {
			  closeBtn: "<div title='Close' class='fancybox_close'>x</div>"
		},	
	    nextClick: true,	
	    openEffect	: 'elastic',
	    closeEffect	: 'elastic', 
	    padding: 35,  
	    helpers: {
		      overlay: {
		      locked: false
		    }
		  }
	    });		    	    
	    
});	
</script>
